
body {
    text-align: center;
}

body.blue{
    background-color: lightblue;
}

body.red{
    background-color: lightcoral;
}

body.green{
    background-color: lightgreen;
}

body.grey{
    background-color: lightgrey;
}
body.yellow{
    background-color: lightyellow;
}

#chat-container { width: 400px;  background: white; padding: 20px; border-radius: 8px; }

#chat-box { height: 300px; }

button { padding: 10px 15px; background-color: #007bff; }
