<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>
<body>
<h1>log on</h1>
<form action="{{ url_for('auth.login') }}" method="POST">

    <input type="text" name="username" placeholder="Username" required>

    <input type="password" name="password" placeholder="Password" required>

    <button type="submit">Login</button>

</form>
{% if error %}
<script>
    alert("{{ error }}");
</script>
{% endif %}
<p>
    Don´t have an account yet?
<a href="{{ url_for('auth.register') }}">
    <button type="button">Register</button>
</a>
</p>
</body>
</html>