<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register your account</h1>

<!-- Ich habe das etwas abgeändert aber deine Sache war richtig und hat funktioniert.
Ich habe es nur etwas lesbarar gemacht und "required" eingefügt. Das heißt, dass das Feld ausgefüllt werden muss.
-->
<form action="{{ url_for('auth.register') }}" method="POST">

    <input type="text" name="username" placeholder="Username" required>

    <input type="password" name="password" placeholder="Password" required>

    <button type="submit">Register</button>

</form>
{% if error %}
<script>
    alert("{{ error }}");
</script>
{% endif %}
<p>
    Already registered?
<a href="{{ url_for('auth.login') }}">
    <button type="button">Login</button>
</a>
</p>

</body>
</html>